# Byte-compiled / optimized / DLL files
__pycache__/

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# VS Code
.vscode

# Coverage Report
.coverage
coverage.xml

# SonarQube
.scannerwork/

# pytest
.pytest_cache

*.egg-info/
