[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
travis = "*"
gunicorn = "*"
"jinja2" = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-cov = "*"
creative-calculations = {editable = true, path = "."}

[requires]
python_version = "3.7"
